<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">edad</th>
        <th scope="col">pais</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let item of repartidor">
        <td>{{ item.nombre }}</td>
        <td>{{ item.edad }}</td>
        <td>{{ item.pais }}</td>
        <td>
          <button class="btn btn-sm btn-success" (click)="verPais(item)">
            Pais
          </button>
          <button class="btn btn-sm btn-info" (click)="verMas(item)">
            Ver mas
          </button>
        </td>
      </tr>
    </tbody>
  </table>